<% provide(:title, "About") %>
<div class="container mx-auto px-4 py-16">
  <h1 class="text-4xl font-bold text-gray-800 mb-6">About MyMTL</h1>

  <section class="mb-10">
    <h2 class="text-2xl font-semibold text-gray-800 mb-4">Our Mission</h2>
    <p class="text-gray-600">
    To provide a platform for movie enthusiasts who celebrate the diversity and richness of cinema,
    from the best to the worst. We empower users to explore and discuss their favorite movies while discovering new titles. 
    Our community is committed to sharing and appreciating every movie, regardless of its rating or genre.
    </p>
  </section>

  <section class="mb-10">
    <h2 class="text-2xl font-semibold text-gray-800 mb-4">Our Story</h2>
    <p class="text-gray-600">
      MyMTL is a movie tier list website that was born out of a passion for movies rankings,
      and a desire to create a more engaging and visually appealing way to maintain them.
      The idea for the MyMTL was conceived after realizing the limitations of the google
      doc-based movie ranking system used by my gaming community’s movie night.
      With MyMTL I aimed to create an interactive platform that would allow the members
      of my community to easily curate and share their own personalized movie rankings.
    </p>
  </section>

  <section>
    <h2 class="text-2xl font-semibold text-gray-800 mb-4">The Team</h2>
    <p class="text-gray-600">
      MyMTL is a capstone project created by Matthew Austin, a passionate movie lover and web developer 
      who is dedicated to building the best platform possible for fellow enthusiasts. Committed to providing a seamless experience and continuously improving the features, the creator aims to serve the needs of the growing MyMTL community.
    </p>
  </section>
</div>