<% flash.each do |key, value| %>
  <div data-controller="flash" class="flex items-center <%= css_for_flash_key(key) %> rounded-md fixed top-5 right-5 ">
    <%= value %>

    <button type="button" data-action="flash#dismiss">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="ml-4 w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
    </svg>
    </button>
  </div>
<% end %>