<% @user ||= current_user %>
<div>
    <a href="<%= following_user_path(@user) %>" class="dark:text-slate-400 hover:text-slate-500 active:text-slate-600">
        <strong id="following">
            <%= @user.following.count %>
        </strong>
        following
    </a>
    <a href="<%= followers_user_path(@user) %>"class="dark:text-slate-400 hover:text-slate-500 active:text-slate-600">
        <strong id="followers">
            <%= @user.followers.count %>
        </strong>
        followers
    </a>    
</div>