<h1 class="dark:text-white">Editing tier list</h1>

<%= render "form", tier_list: @tier_list %>

<br>

<div>
  <%= link_to "Show this tier list", user_tier_list_path(@tier_list.user, @tier_list), class: "dark:text-slate-400 dark:hover:text-slate-400 dark:active:text-slate-500"  %> |
  <%= link_to "Back to tier lists", @tier_list.user, class: "dark:text-slate-400 dark:hover:text-slate-400 dark:active:text-slate-500"  %>
</div>
